datasets/misinfo-dataset/DataSet_Misinfo_*.csv filter=lfs diff=lfs merge=lfs -text
datasets/misinfo-dataset/DataSet_Misinfo_FAKE.csv filter=lfs diff=lfs merge=lfs -text
datasets/misinfo-dataset/DataSet_Misinfo_TRUE.csv filter=lfs diff=lfs merge=lfs -text
